.active{
    font-weight:700 ;
    font-size: 20px;
    color: #00afaa !important;
}
ul li:last-child{
    background-color:  #00afaa ;
    border-radius: 50px;
    border: 1px solid transparent;
  
}
ul li:last-child a{
    color:white !important;

}
ul ;i:last-child:hover a{
    color: #00afaa !important;
}
ul ;i:last-child:hover {
    background-color: transparent;
    border: 1px solid #00afaa;
}